$smallScreen: 768px;
$mediumScreen: 995px;
$bigScreen: 1545px;

:root {
  --navbar-color: #fff;
  --primary-color: #2d95ea;
  --secondary-color: #ff4081;
  --drawer-color: #f7d54d;
  --background-color: #f3efee;
  --backgroundFloat: #beafab;
  --text-color: #292510;
  --white: #f5f5f5;
  --background-color2: #fdf6e3;
  --background-about: #281e0f;
}

.dark-theme {
  --navbar-color: #281e0f;
  --background-color: #0a0909;
   --drawer-color: #281e0f;
  --backgroundFloat: #3a4955;
  --text-color: #fdf6e3;
}
