$smallScreen: 768px;
$mediumScreen: 995px;
$bigScreen: 1545px;

:root{
  --primary-color: #2d95ea;
  --secondary-color: #ff4081;
  --background-color: #f3efee;
  --backgroundFloat: #beafab;
  --text-color: #292510;
  --white: #f5f5f5;
  --background-color2: #fdf6e3;
  --background-about: #281e0f;
}
