<section class="about-section" id="about">
  <div class="profilePic">
    @if(isLoading){
    <div class="custom-spinner">
      <p-progressSpinner
        strokeWidth="6"
        animationDuration="0.8s"
        [style]="{ width: '60px', height: '60px', color: '#fff' }"
      ></p-progressSpinner>
    </div>
    }

    <img
      src="https://ik.imagekit.io/07dp280wef/my-portfolio/profile.webp?updatedAt=1751031974616"
      srcset="
      https://ik.imagekit.io/07dp280wef/my-portfolio/small/profile-small.webp?updatedAt=1751032038442  480w
      https://ik.imagekit.io/07dp280wef/my-portfolio/profile.webp?updatedAt=1751031974616             746w,
      "
      sizes="(max-width: 480px) 480px, (max-width: 746px) 746px, 1024px"
      width="768"
      height="1024"
      aria-hidden="true"
      loading="lazy"
      (load)="onImageLoad()"
      [style.opacity]="isLoading ? 0 : 1"
      style="transition: opacity 0.5s ease-in-out"
    />

    <div class="glitch__layers">
      <div class="glitch__layer"></div>
      <div class="glitch__layer"></div>
      <div class="glitch__layer"></div>
    </div>
  </div>
  <div class="about-text">
    <div class="about-title">
      <span>▶</span>
      <h1>{{ "ABOUT.TITLE" | translate }}</h1>
    </div>
    <div class="about-description">
      <p>{{ "ABOUT.DESCRIPTION" | translate }}<span>▮</span></p>
    </div>
  </div>
</section>
