<section class="about-section" id="about">
    <div class="profilePic" [ngClass]="imageSize">
        <img src="../../../assets/profile.webp" aria-hidden="true" >
        <div class="glitch__layers">
            <div class="glitch__layer"></div>
            <div class="glitch__layer"></div>
            <div class="glitch__layer"></div>
        </div>
    </div>
    <div class="about-text">
        <div class="about-title">
        <span>▶</span><h1>{{ 'ABOUT.TITLE' | translate }}</h1>
        </div>
    <div class="about-description">
        <p>{{ 'ABOUT.DESCRIPTION' | translate }}<span>▮</span></p> 
    </div>
    </div>
</section>