@use "../../styles/mixin.scss";

.about-section {
  background-image: url("https://ik.imagekit.io/07dp280wef/my-portfolio/galaxy2.webp?updatedAt=1751033474192");
  background-size: contain;
  background-repeat: repeat-x;
  background-color: var(--background-about);
  padding: 3rem 0rem;
  text-align: center;
  //margin-top: 10em;
  margin: 10em 2em 5em;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-right: 20em;
  left: 0em;
  width: 100%;
  border-radius: 15px;
  padding-top: 7em;
  padding-bottom: 7em;

  .profilePic {
    border: 4pt solid var(--white);
    border-radius: 0.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    box-shadow: 6px 6px 0px black;

    
    img {
      width: 300px;
      height: auto;
      position: relative;
      display: block;
      z-index: 1;
    }
    .glitch__layers {
      position: absolute;
      z-index: 2;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
    .glitch__layer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-image: url("https://ik.imagekit.io/07dp280wef/my-portfolio/profileG.webp?updatedAt=1751032008787");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 0 0;
    }
    .glitch__layer:nth-child(1) {
      transform: translateX(-5%);
      animation: glitch-anim-1 3s infinite linear alternate;
    }
    .glitch__layer:nth-child(2) {
      transform: translateX(3%) translateY(3%);
      animation: glitch-anim-2 3.3s -0.8s infinite linear alternate;
    }
    .glitch__layer:nth-child(3) {
      transform: translateX(5%);
      animation: glitch-anim-flash 2s infinite linear;
    }

    @keyframes glitch-anim-1 {
      0% {
        clip-path: polygon(0 0%, 100% 0%, 100% 5%, 0 5%);
      }
      10% {
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
      }
      20% {
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
      }
      30% {
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
      }
      40% {
        clip-path: polygon(0 35%, 100% 35%, 100% 35%, 0 35%);
      }
      50% {
        clip-path: polygon(0 45%, 100% 45%, 100% 46%, 0 46%);
      }
      60% {
        clip-path: polygon(0 50%, 100% 50%, 100% 70%, 0 70%);
      }
      70% {
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
      }
      80% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
      }
      90% {
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
      }
      100% {
        clip-path: polygon(0 60%, 100% 60%, 100% 70%, 0 70%);
      }
    }
    @keyframes glitch-anim-2 {
      0% {
        clip-path: polygon(0 15%, 100% 15%, 100% 30%, 0 30%);
      }
      15% {
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
      }
      25% {
        clip-path: polygon(0 8%, 100% 8%, 100% 20%, 0 20%);
      }
      30% {
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
      }
      45% {
        clip-path: polygon(0 45%, 100% 45%, 100% 45%, 0 45%);
      }
      50% {
        clip-path: polygon(0 50%, 100% 50%, 100% 57%, 0 57%);
      }
      65% {
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
      }
      75% {
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
      }
      80% {
        clip-path: polygon(0 40%, 100% 40%, 100% 60%, 0 60%);
      }
      95% {
        clip-path: polygon(0 45%, 100% 45%, 100% 60%, 0 60%);
      }
      100% {
        clip-path: polygon(0 11%, 100% 11%, 100% 15%, 0 15%);
      }
    }
    @keyframes glitch-anim-flash {
      0% {
        opacity: 0.2;
      }
      30%,
      100% {
        opacity: 0;
      }
    }
  }

  .about-text {
    border: 2pt solid var(--white);
    background-color: var(--background-about);
    max-width: 900px;
    padding-top: 3em;
    position: relative;
    text-align: center;
    font-family: "Silkscreen", sans-serif;
  }

  .about-title {
    border: 2pt solid var(--white);
    outline: 2pt solid var(--white);
    outline-offset: -10px;
    width: 300px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-about);
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5;
    font-weight: 700;
    h1 {
      font-size: 24pt;
    }
    span {
      color: var(--white);
      font-size: 21pt;
      padding-right: 0.5rem;
    }
  }

  .about-description {
    display: flex;
    justify-content: center;
    font-weight: 400;
    padding: 2rem;

    span {
      animation: blink 0.5s infinite;
    }
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h1 {
    color: var(--white);
    font-weight: bold;
  }

  p {
    color: var(--white);
    max-width: 800px;
  }
}

//////////////////
@media (max-width: mixin.$bigScreen) {
  .about-section {
    padding-right: 0;
  }
}

@media (max-width: 400px) {
  .about-description {
    display: flex;
    justify-content: flex-start !important;
  }
  p {
    font-size: 10pt;
  }
}
