<div class="image-container" [ngClass]="imageSize">
  <div class="home-text">
    <div class="home-title">{{ "HOME.TITLE" | translate }}</div>
    <div class="home-subtitle">{{ "HOME.SUBTITLE" | translate }}</div>
    <div class="home-services">
      <div class="bar">▷ {{ "HOME.GD" | translate }}</div>
      <div class="bar">▷ {{ "HOME.ILLUSTRATOR" | translate }}</div>
    </div>
  </div>

<div class="image-wrapper" >
  <img
    [src]="imageSrc"
    width="720"
    height="512"
    decoding="async"
    fetchpriority="high"
    (load)="onImageLoad()"
    (error)="onImageError()"
    [class.loaded]="!isLoading"
    aria-hidden="true"
  />
  </div>
</div>
<app-about ngSkipHydration></app-about>
<app-work ngSkipHydration></app-work>
