<section class="work-section" id="work">
  <div class="work-content">
    <div>
      <div class="work-title">
        <span>▶</span>
        <h1>{{ "WORK.TITLE" | translate }}</h1>
      </div>
    </div>

    <nav class="work-nav">
      @for ( item of items; track item; let i = $index){
      <div class="image-wrapper" style="position: relative">
        @if(isLoading[i]){
        <div class="custom-spinner">
          <p-progressSpinner
            strokeWidth="6"
            animationDuration="0.8s"
            [style]="{ width: '60px', height: '60px', color: '#fff' }"
          ></p-progressSpinner>
        </div>
        }

        <a [routerLink]="item.link" routerLinkActive="active">
          <img
            [src]="item.src"
            loading="lazy"
            [alt]="item.alt"
            (load)="onImageLoad(i)"
            [style.opacity]="isLoading[i] ? 0 : 1"
            style="transition: opacity 0.5s ease-in-out, transform 0.2s ease-in-out; "
            width= "500"
            height= "321"
          />
        </a>
      </div>
      }
    </nav>
  </div>
</section>
