@use "../../../styles/mixin.scss";

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--navbar-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .logo a {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-color);
    text-decoration: none;
  }
}

.desktop-menu {
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;

    li a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 500;
      transition: color 0.3s;
      &:hover {
        color: var(--primary-color);
      }
    }
  }
}

.mobile-menu {
  display: none;
}

.mobile-nav {
  text-decoration: none;
}

.lang-toggle {
  background: none;
  border: none;
  color: var(--text-color);
  font-weight: 500;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-color);
  }
}

::ng-deep {
  .p-drawer {
    background-color: var(--background-color);

    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
.p-sidebar {
  background-color: var(--navbar-color);
  color: var(--text-color)
}

  .mobile-nav {
    padding: 2em;
    font-size: 16pt;
  }

  .mobile-nav li {
    padding: 1em;
    display: flex;
    justify-content: center;
    text-decoration: none;
    &:hover {
      color: var(--primary-color);
    }
  }
}

.theme-toggle {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.25rem;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-color);
  }

  i {
    position: relative;
    bottom: 4px;
    vertical-align: middle;
  }
}

////////////////////
@media (max-width: mixin.$smallScreen) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu {
    display: block;
    height: 100%;
    background-color: var(--navbar-color)!important ;
  }
  .mobile-nav {
    li a {
      text-decoration: none;
    color: var(--text-color);
     &:active{
      color: var(--primary-color);
      font-weight: bold;
    }
    }
  }
}
