<section class="brand-content">
  @for ( image of imageUrls; track image; let i = $index){
  <div class="brand-image">
    @if(isLoading[i]){
    <div class="custom-spinner">
      <p-progressSpinner
        strokeWidth="6"
        animationDuration="0.8s"
        [style]="{ width: '60px', height: '60px', color: '#fff' }"
      ></p-progressSpinner>
    </div>
    }
    <img
      [src]="image"
      alt="Image from the catalog showing the branding process"
      loading="lazy"
      (load)="onImageLoad(i)"
      [style.opacity]="isLoading[i] ? 0 : 1"
      style="transition: opacity 0.5s ease-in-out"
    />
  </div>
  }
</section>
